body{
  margin: 0;
  padding: 0;
  background-color: bisque;
}
.task-list-page {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-list {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
  }

  .appheading{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    columns: #007bff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  }

  .tasklistheading{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    margin-right: 20px;
  }
  
  .task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f0f0 ;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  }
  
  .task-list-item h3 {
    margin: 0;
  }
  
  .actions .btn {
    margin-left: 10px;
  }
  
  .task-form-page {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task-form {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .task-form label {
    font-weight: bold;
  }
  
  .task-form input,
  .task-form textarea,
  .task-form select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .task-form textarea {
    height: 100px;
  }
  
  .task-form .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn {
    background-color: #d0c7c7;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .create-btn {
    background-color: #28a745;
    color: #fff;
    margin-left: 500px;
  }

  .cancel-btn{
    background-color: red;
    color: #fff;
  }

  .header{
    display: flex;
    align-items: center;
  }
  

  .popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    position: relative;
  }

  .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }